---
title: Hello world!
posts:
    - post a
    - post b
    - post c
---

<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <p>Hi there!</p>

    <ul>
    {% for filename in posts %}
        <li>{{ filename }}</a></li>
    {% endfor %}
    </ul>
</body>

</html>